body {
  background: #dcdcdc;
}

h1 {
  margin-left: 2%;
  font-family: candara;
  color: white;
}

h2, p {
  margin-left: 2%;
}

.blueLine {
  text-decoration: underline #355787;
}

.navigasjonsbar{
  height: 90px;
  /*overflow: hidden;*/
  position: fixed;
  top: 0;
  width: 100%;
  /*margin-left: 1%;
  width: 95%;
  */
}

ul.menu {
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  text-align: right;
  font-size: 25px;
  font-family: candara;
}

li {
  display: inline;
  text-align: right;
  padding: 15px;
}

li a{
  text-decoration: none;
}

li a:hover{
  text-decoration: underline;
}

[class*="col-"] {
  float: left;
  padding: 1vw;
  /*border: 1px solid grey;*/
}

.col-small-100 {width: 100%;}

@media only screen and (min-width: 1000px) {
.col-tall-100 {width: 100%;}
}
