body {

}

h1 {
  margin-left: 2vw;
  font-family: candara;
  color: white;
}

.blueLine {
  text-decoration: underline #355787;
}

.navigasjonsbar {
  background-color: rgba(152,218,249,0.3);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



[class*="col-"] {
  float: left;
  margin-left: 1vw;
  padding: 1vw;
  border: 1px solid grey;
}

.col-small-10 {width: 10%;}
.col-small-20 {width: 20%;}
.col-small-40 {width: 40%;}
.col-small-60 {width: 60%;}
.col-small-100 {width: 100%;}

@media only screen and (min-width: 1000px) {
.col-tall-10 {width: 10%;}
.col-tall-20 {width: 20%;}
.col-tall-30 {width: 30%;}
.col-tall-40 {width: 40%;}
.col-tall-60 {width: 60%;}
.col-tall-70 {width: 70%;}
.col-tall-100 {width: 100%;}

.col-tall-95 {width: 95%;}
}
