body {
  background: #dcdcdc;
  overflow-x: hidden; /* Ikke scroll horisontalt */
}

h1 {
  font-size: 1em; /* Tekststørrelse width < 1000px */
  margin-left: 2%;
  font-family: candara;
  color: white;
}

h2, p {
  margin-left: 2%;
  margin-right: 2%;
}

.blueLine {
  text-decoration: underline #355787;
}

.navigasjonsbar{
  height: 90px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

ul.menu {
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  text-align: right;
  font-size: 25px;
  font-family: candara;
}

li {
  display: inline;
  text-align: right;
  padding: 15px;
}

li a{
  text-decoration: none;
}

li a:hover{
  text-decoration: underline;
}

[class*="col-"] {
  float: left;
  padding: 1vw;
  margin-left: -10px;
}

.col-small {width: 101%;}

@media only screen and (min-width: 1000px) {
.col-tall {width: 101%;}

  h1 {font-size: 2em;}
}
